{% extends 'base1.html' %}

{% load crispy_forms_tags %}

{% block title %}
Apply Expenses
{% endblock %}

{% block content %}
    <div class="container card">
        <br>
        <h1 style="color: blue;">Expense Form</h1>
        <form action="" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-sm bg-gradient-success" style="color: white;" type="submit" value="Submit">
        </form>
    </div>    
{% endblock %}