{% extends 'base1.html' %}
{% load static %}
{% block head %}
<style>

.main-container-settings {
    padding: 0px;
    width: 100%;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
}

.main-container-settings .box {
    border: 1px solid #cfd7df;
    box-shadow: 0 2px 4px 0 rgba(24, 50, 71, .08);
    border-radius: 4px;
    background-color: white;
    margin: 0rem 10rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

@media(max-width: 600px) {
    .main-container-settings .box {
        margin: 0rem 3rem;
    }
}

.main-container-settings .box .heading {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.main-container-settings .box .row {
    display: flex;
    justify-content: space-evenly;
}

.main-container-settings .box .row .setting {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.main-container-settings .box .row .setting:hover {
    border: 1px solid rgba(17, 74, 133, 0.6);
    background-image: radial-gradient(white, rgba(135, 135, 135, 0.3));
}

.main-container-settings .box .row .setting .icon {
    margin-right: 1rem;
}

.main-container-settings .box .row .setting .icon img {
    height: 2rem;
    width: 2rem;
}

.main-container-settings .box .row .empty {
    visibility: hidden;
}
</style>

{% endblock %}

{% block content %}


<div class="container-fluid row main-container-settings">
    
    <div class="box container-fluid">
        <div class="heading">
            General Problems
        </div>
        <hr />
        <div class="row">
            <div class="col-md setting" onclick="location.href='{% url 'HR_problems:soft_create' %}'">
                <div class="icon">
                    <img src="{% static 'images/settings-agent.png' %}" />
                </div>
                <div class="name">
                    Create Problem ticket
                </div>
            
            </div>
            <div class="col-md setting" onclick="location.href='{% url 'HR_problems:list_prob' %}'">
                <div class="icon">
                    <img src="{% static 'images/settings-group.png' %}" />
                </div>
                <div class="name">
                    Problem List
                </div>
            </div>
            
        </div>
        
    </div>
</div>



<!-- <div class="container" style="margin-left: 80px; margin-top:80px;">
{% if user.profile.is_manager %}    
<h1>Links for only for you admin;-)</h1>

    <ul>
    {% if perms.user_profiles.can_evaluate_all and user.is_authenticated %}
        <li><a href="{% url 'HR_user_profiles:create-account' %}"> Add Employee</a></li>
        <li><a href="{% url 'HR_user_profiles:employees' %}"> Employees</a></li>
        <li><a href="{% url 'HR_leaves:working-days' %}"> Add Working Days</a></li>
    {% endif %}
    </ul>

{% endif %}
</div> -->
{% endblock %}