{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="container-fluid" style="margin-top: 80px; margin-left: 80px;">
    
    <h1>Problem Ticket:#{{ problem.id }}</h1>
    <hr>
    
    {% if problem.solved %}
        Issue is Closed by the user.
        {% endif %}
        {{ problem.item.users }}
        <div class="row">
            <div class="col-lg-9">
                <div class="card" style="width: 1000px;">
                    <div class="card-body">
                        <h1>{{ problem.title }}<a href="{% url 'HR_problems:update_prob' problem.id %}" class="btn btn-primary float-right">Update</a></h1>
                        <small>{{ problem.issue }}</small>
                    </div>
                </div>
                <br>
                <div class="card" style="width:1000px;">
                    <div class="card-body">
                        <h4>Root Cause: {{ problem.root_cause }}</h4>
                        <h4>Symptoms: {{ problem.Symptoms }}</h4>
                        <h4> Impact: {{ problem.impact }}</h4>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 1000px;">
                <div class="card-body">
                    <h2>Comments</h2>
                    <ul>
                    {% for comment in comments %}
                        <small>commented on {{ comment.created_on }}</small>
                        <br>
                        <h1>{{ comment.body }}</h1>
                        <small>comment added by:<b>{{ comment.user }}</b></small>
                        <hr>
                    {% endfor %}
                    </ul>
                    <form method ="POST">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <input class="btn btn-warning" type="submit" name="comment">
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="width:700px">
                    <div class="card-body">
                        <h3>Update Status</h3>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input  class="btn btn-info" type="submit" name="update">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        


    
    
</div>
{% endblock %}