{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/All-Tickets.css' %}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/list_style.css' %}">

<form action="" method="get">
<nav class="navbar navbar-expand-lg navbar-light bg-light second-navbar" style="margin-left: 0px; margin-top: -40px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-light" id="navbarSupportedContent2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item form-inline my-2 my-lg-0">
                <input type="checkbox" class="select-all-checkbox" />
            </li>
            <li class="nav-item active form-inline my-2 my-lg-0 selection-list">
                <label for="sel1" class="nav-link">Sort by: </label>
                <select name="ordering_by" id="sort-item" class="selectpicker" data-width="150px" data-style="btn-white" onchange="this.form.submit()">  
                    <option value="date_created">Date created</option>
                    <option value="date_start">Leave Start Date</option>
                    
                </select>
            </li>
            <li class="nav-item active form-inline my-2 my-lg-0 selection-list">
                <label for="sel2" class="nav-link">Order: </label>
                <select name="asddes" id="sel2" class="selectpicker" data-width="150px" data-style="btn-white" onchange="this.form.submit()">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
            </li>
        </ul>
        <ul class=" navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span class="make-box">
                        Export
                    </span>
                </a>
            </li>
            <li class="nav-item active">
                <span class="nav-link">
                    1-3 of 3
                </span>
            </li>
            <li class="nav-item active move-buttons nav-link">
                <a class="" href="#">
                    <span class="make-box" data-toggle="tooltip" data-placement="bottom" title="Previous Page">
                        <img src="{% static 'images/left-move.png' %}" />
                    </span>
                </a>
                <a class="" href="#">
                    <span class="make-box" data-toggle="tooltip" data-placement="bottom" title="Next Page">
                        <img class="flip-image" src="{% static 'images/left-move.png' %}" />
                    </span>
                </a>
            </li>
            <li class="nav-item show-filters active nav-link" onclick=showFilters()>
                <div data-toggle="collapse" data-target="#filter-list-id" aria-controls="filter-list-id" aria-expanded="false" aria-label="Toggle Filters">
                    <span class="make-box " data-toggle="tooltip" data-placement="bottom" title="Show Filters">
                        <img src="{% static 'images/show.png' %}" />
                    </span>
                </div>
            </li>
            <li class="nav-item hide-filters nav-link" onclick=hideFilters()>
                <div data-toggle="collapse" data-target="#filter-list-id" aria-controls="filter-list-id" aria-expanded="false" aria-label="Toggle Filters">

                    <span class="make-box " data-toggle="tooltip" data-placement="bottom" title="Hide Filters" data-toggle="collapse" data-target="#filter-list-id" aria-controls="filter-list-id" aria-expanded="false" aria-label="Toggle Filters">
                        <img class="flip-image" src="{% static 'images/show.png' %}" />
                    </span>
                </div>
            </li>
        </ul>
    </div>
</nav>
</form>

        <div class="container-fluid row main-container-all-tickets" style="margin-top: -10px; margin-left: 0px;">
            <!---------------------------- TICKET LIST START --------------------------------------->
            <div class="ticket-list col-md">
                {% if myList %}
                
                {% for l in myList %}
                <div class="item row">
                    <div class="left col-md">
                        <div class="heading">
                            <a href="#">
                                {{ l.title }} 
                            </a>
                        </div>
                        <div class="details row">
                            <div class="col-md">
                                <img src="{% static 'images/ticket-fields.png' %}" />
                                <span class="agent">
                                    {{ l.reason }}
                                </span>
                            </div>
                            <div class="col-md">
                                <img src="{% static 'images/name.png' %}" />
                                <span class="agent">
                                    Employee: {{ l.employee }}
                                </span>
                            </div>
                            <div class="col-md">
                                <img src="{% static 'images/heading-image.png' %}" />
                                <span class="agent">
                                    Assigned to: {{ l.assign }}
                                </span>
                            </div>
                            <div class="col-md">
                                <img src="{% static 'images/heading-image.png' %}" />
                                <span class="agent">
                                    Start Date: {{ l.start }}
                                </span>
                            </div>
                            <div class="col-md">
                                <img src="{% static 'images/time.png' %}" /> End Date: {{ l.end }} 
                            </div>
                        </div>
                    </div>
                    
                    <div class="right col-md">
                        <div class="selection-list" data-toggle="tooltip" data-placement="left" title="Assign to">
                            <div class="icon">
                                <img src="{% static 'images/group.png' %}" />
                                <span class="agent">
                                    Assign to:
                                </span>
                            </div>
                            
                        </div>
                        <br>
                        <form action="" method="get">
                            
                            <select name="assign_to" class="selectpicker">
                                {% if profile %}
                                    {% for user in profile %}
                                        <option value="{{ user }}">{{ user }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <a href="{% url 'HR_leaves:ProfileCreate' %}" id="add_profile" onclick="return showAddPopup(this);"><img src = "{% static '/images/Add.png' %}" height="30px" alt="add"></a>
                            <br><br>
                            <button class="btn btn-sm btn-info" name="approve{{ l.id }}" type="submit">Approve</button>
                            <button class="btn btn-sm btn-danger float-right" name="disapprove{{ l.id }}" type="submit">Diapprove</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="card">
                    <div class="card-body">
                        <h2>There are no applications in the list.</h2>
                    </div>
                </div>
                {% endif %}

            </div>
            <!---------------------------- TICKET LIST END --------------------------------------->


            <!---------------------------- FILTER LIST START --------------------------------------->
            <div class="collapse filter-list col-md-3 order-first order-md-last" id="filter-list-id">
                <form action="" method="get">
                <div class="for-scrolling">
                    <div class="heading">
                        <div>
                            FILTERS
                        </div>
                        <div class="pic" onclick=hideFilters()>
                            +
                        </div>
                    </div>
                    <div class="list">

                        <div class="item">
                            <div class="name">
                                Leave Title:
                            </div>
                            <input type="text" name="leave_title" placeholder="subject..">
                        </div>


                        <div class="item">
                            <div class="name">
                                Employee Application
                            </div>
                            <select name="employee_name" class="selectpicker ml-2 filter-sel" data-live-search="true" multiple title="Any" id="filter-sel-1">
                                {% for user in users %}
                                    <option value="{{ user }}">{{ user }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="item">
                            <div class="name">
                                Assigned work to
                            </div>
                            <select name="assign_to" class="selectpicker ml-2 filter-sel" data-size="5" data-live-search="true" multiple title="Any" id="filter-sel-2">
                                {% for p in profile %}
                                <option value="{{ p }}">{{ p }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="item">
                            <div class="name">
                                Leave Starts After
                            </div>
                            <input type="date" name="leave_after">
                        </div>

                        <div class="item">
                            <div class="name">
                                Leave Ends before
                            </div>
                            <input type="date" name="leave_before">
                        </div>

                        <div class="item">
                            <div class="name">
                                Created After
                            </div>
                            <input type="date" name="created_after">
                        </div>

                        <div class="item">
                            <div class="name">
                                Created before
                            </div>
                            <input type="date" name="created_before">
                        </div>

                        

                    </div>
                    <!--list end-->
                </div>
                <button class="apply-button-div btn-block apply-button-div-all-tickets" type="submit" name="filter">
                    <div class="apply-button">
                        Apply
                    </div>
                </button>
                </form>
            </div>
            <!--filter list end-->
        </div>
    </div>
    

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- For styling select tags -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script> -->

<!--For tooltip -->
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


<!--Js-->
<script src="{% static 'js/All-Tickets.js' %}"></script>

<!--Js for navbar and sidebar -->
<script src="{% static 'js/Main.js' %}"></script>


<script type="text/javascript">
    function showEditPopup(url) {
        var win = window.open(url, "Edit", 
            'height=500,width=800,resizable=yes,scrollbars=yes');
        return false;
    }
    function showAddPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^add_/, '');
        href = triggeringLink.href;
        var win = window.open(href, name, 'height=500,width=600,resizable=yes,scrollbars=yes');
        win.focus();
        return false;
    }
    function closePopup(win, newID, newRepr, id) {
        $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
        win.close();
        location.reload();
    }
    
</script>





{% endblock %}



