{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	
</style>
<div class="container card" style="padding-top: 110px; width:50%;">
    <div class="content-section card-body" style="text-align: -webkit-center;">
   		<div class="media">
	        <div class="media-body">
	        	<h2 class="account-heading">{{ user.username }}</h2>
				<p class="text-secondary">{{ user.email }}</p>
				<p class="text-secondary">Want to change password??      <a href="{% url 'account_change_password' %}" class="btn btn-md btn-warning">Update Password</a></p>
	        </div>
    	</div>
    	<form method = "POST" style="width: 50%;">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Update</button>
			</div>
		</form>
	</div>
</div>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock content %}