{% extends 'base1.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/eventscal.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css">
  
{% endblock %}
{% block content %}


<style>
  .vl {
    border-left: 6px solid orange;
    height: 50px;
  }
</style>


<div class="p-2 ml-5 mr-5">
  <!-- <h2 class="mb-4">Full Calendar</h2> -->
  <div class="card">
    <div class="card-body p-4">
      <div id="calendar"></div>
    </div>
  </div>
</div>

<div class="v1"></div>
<div class="p-2 ml-5 mr-5">
  <!-- <h2 class="mb-4">Full Calendar</h2> -->
  <div class="card">
    <div class="card-body p-4">
      <b>Approvals</b>
      <hr>
      <div class="row text-center">
        <div class="col-sm-3">
          Week 1
        </div>
        <div class="vl"></div>
        <div class="col-sm-3">
          Week 2
        </div>
        <div class="vl"></div>
        <div class="col-sm-3">
          Week 3
        </div>
        <div class="vl"></div>
        <div class="col-sm-2">
          Week 4
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-2 ml-5 mr-5">
  <!-- <h2 class="mb-4">Full Calendar</h2> -->
  <div class="card">
    <div class="card-body p-4">
      <div class="container">
          {% if comments %}
          <h6>Comments related to Timesheet:</h6>
          {% for comment in comments %}
              {{ comment }}
          {% endfor %}
          {% else %}
          <h6>No comments recived by this employee yet.</h6>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- calendar modal -->
<div id="modal-view-event" class="modal modal-top fade calendar-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
                    <div class="event-body"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

    <a class="show-form" data-url="{% url 'HR_tasks:create_event' %}">
    </a>


        
      {% include 'tasks/eventscaljs.html' %}
     <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script>


{% endblock %}